@model IList<Customer>;

@{
    ViewData["Title"] = "Lista de Clientes";
    var customerList = Model;
}
<section class="page">
    <div class="container">
        <header class="d-flex justify-content-between align-items-center w-100 border-bottom mb-3 py-3">
            <h4>Visão Geral</h4>
            <a asp-controller="Customer" asp-action="Register" class="btn btn-sm btn-success">
                <i class="bi bi-plus"></i> Cadastrar
            </a>
        </header>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome Completo</th>
                    <th>CPF</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Açoes</th>
                </tr>
            </thead>
            <tbody>
                @if (customerList.Any())
                {
                    @foreach (Customer customer in customerList)
                    {
                        <tr>
                            <td>@customer.Name</td>
                            <td>@Convert.ToUInt64(customer.CPF).ToString(@"000\.000\.000\-00")</td>
                            <td>@customer.Email</td>
                            <td>@Convert.ToUInt64(customer.Phone).ToString(@"\(00\) 00000\-0000")</td>
                            <td><a asp-controller="Customer" asp-action="Edit" asp-route-id="@customer.Id">Editar</a></td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">
                            <p class="mb-0 text-center">Nenhum cliente cadastrado.</p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>