@using CustomerManager.Web.Models.ViewModels
@using System.Text.Json;
@model AddressListView;

@{
    var addressList = Model.Addresses;
    var options = new JsonSerializerOptions
    {
        PropertyNameCaseInsensitive = false
    };
    var addressListJson = JsonSerializer.Serialize(Model.Addresses, options);
}
<section class="list-view mt-5">
    <header class="d-flex justify-content-between align-items-center border-bottom mb-3 py-3">
        <h6>Lista de Endereços:</h6>
        <button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#modalAddressRegisterForm"><i class="bi bi-plus"></i> Endereço</button>
    </header>
    <table class="table table-striped w-100">
        <thead class="align-middle">
            <tr>
                <th>Endereço</th>
                <th>Cidade</th>
                <th>CEP</th>
                <th width="10%">Açoes</th>
            </tr>
        </thead>
        <tbody id="addressResult" class="align-middle">
            @if (addressList.Any())
            {
                @foreach (Address address in Model.Addresses)
                {
                    <tr>
                        <td>@address.Street</td>
                        <td>@address.City</td>
                        <td>@address.ZipCode</td>
                        <td>
                            <a href="#" class="btn link-button btn-sm btn-edit text-success" data-bs-toggle="modal" data-bs-target="#modalAddressRegisterForm" data-id="@address.Id" data-customerId="@address.CustomerId" title="Editar endereço"><i class="bi bi-pencil-square"></i></a>
                            <a href="#" class="btn link-button btn-sm btn-remove text-danger" data-id="@address.Id" data-customerId="@address.CustomerId" title="Remover endereço"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">
                        <p class="text-center mb-0">Nenhum endereço cadastrado.</p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

<!-- Modal -->
<div class="modal fade" id="modalAddressRegisterForm" tabindex="-1" aria-labelledby="modalAddressRegisterForm" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastrar Endereço</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @await Html.PartialAsync("Partials/_AddressRegisterForm", new Address { CustomerId = Model.CustomerId })
        </div>
    </div>
</div>


<input id="addressListHidenField" type="hidden" value="@addressListJson">

@using (Html.BeginScripts())
{
    <script src="~/js/subscriber.js"></script>
    <script src="~/js/address.js"></script>
    <script src="~/js/address-listview.js"></script>
    <script>
        const addressListHidenField = document.querySelector("#addressListHidenField")
        const addresses = JSON.parse(addressListHidenField.value);
        addresses.forEach(address => addressDataList.add(address));
    </script>
}
